<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Video Player</title>
  </head>
  <body>
    <div id="app">
      <video :src="videoUrl" controls autoplay></video>
      <ul>
        <li v-for="file in files" :key="file.magnet">
          {{file.fileName}}
          <button @click="play(file)">Play</button>
        </li>
      </ul>
    </div>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            activeVideo: {},
            files: [
              {
                magnet: '43BFAD4D65DF51DE3F0941F43C963F832317B245',
                fileName: 'Devs.S01E01.AMZN.WEB-DL.1080p.mkv'
              },
              {
                magnet: '43BFAD4D65DF51DE3F0941F43C963F832317B245',
                fileName: 'Devs.S01E02.AMZN.WEB-DL.1080p.mkv'
              }
            ]
          }
        },
        computed: {
          videoUrl: ({ activeVideo }) =>
            activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
        },
        methods: {
          async play(file) {
            const response = await axios.get(`/stream/add/${file.magnet}`)
            this.activeVideo = file
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
